@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

.header{
	display: flex;
	flex: 1 1 auto;
	width: 100%;
}
.menu {
	display: flex;
	flex: 1 1 auto;
	width: 100%;
	justify-content:center;
	align-items:center;
	position: absolute;
	left: 0;
	top: 25px+35px;

	&__links {
		display: flex;
		a{
			font-family: 'Lato';
			font-weight: bold;
			color: #4d4959;
			font-size: 13px;
			text-transform: uppercase;
			margin: auto 0px;
			padding: 0 37.5px;
			&:nth-child(2){
				padding: 0 110px 0 0px;
			}
			&:nth-child(3){
				padding: 0 0 0 110px;
			}
			&:hover{
				text-shadow: 1px 1px 5px #000,1px 1px 0px #000;
				//color: #000;
			}
		}
	}
}
.header__logo{
	transform: translate(-50%,0);
	position: absolute;
	left: 50%;
	top: 25px;
}
@media (max-width: 620px) {
	.burger {
		position: absolute;
		z-index: 3;
		width: 30px;
		height: 20px;
		right: 20px;
		top: 20px;
		&:before{
			content: "";
			display: block;
			width: 30px;
			height: 3px;
			background-color: #000;
			margin-bottom: 4px;
			transition: all 0.3s ease 0s;
		}
		span{
			display: block;
			width: 30px;
			height: 3px;
			background-color: #000;
			margin-bottom: 4px;
			transition: all 0.3s ease 0s;
		}
		&:after{
			content: "";
			display: block;
			width: 30px;
			height: 3px;
			background-color: #000;
			transition: all 0.3s ease 0s;
		}
	}
	.burger.active{
		&:before{
			transform:rotate(45deg);
			position: absolute;
			top: 8px;
		}
		&:after{
			transform:rotate(-45deg);
			position: absolute;
			bottom: 10px;
		}
		span{
			opacity: 0;
		}
	}
	.menu {
		display: flex;
		align-items: flex-start;
		height: 100%;
		position: absolute;
		left: 0;
		top: -100%;
		background-color: gray;
	}
	.menu {
		display: flex;
		align-items: flex-start;
		height: 100%;
		position: absolute;
		left: 0;
		top: -100%;
		background-color: rgba(243, 244, 250, 0.7);
		transition: all 0.3s ease 0s;
	}
	.menu.active{
		position: absolute;
		left: 0;
		top: 0;
	}
	.menu__links{
		display: flex;
		flex-direction:column;
		align-items:center;
		margin-top: 50px;
		a{
			display:block;
			padding: 10px 0;
			margin: 0;
			font-size: 	20px;
			&:nth-child(2){
				padding: 10px 0;
			}
			&:nth-child(3){
				padding: 10px 0;
			}
			&:nth-child(1){
				padding-top: 67.5px;
			}
			&:last-child{
				margin-bottom: 30px;
			}
		}
	}
	.header__logo{
		transform: translate(-50%,-50%);
		position: absolute;
		top: 60px;
		left: 50%;
	}
}